{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <section class="card card-body">
        <h1 class="display-1">Home</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error, quos esse ut voluptate itaque, consequatur, natus deserunt nisi blanditiis unde vel? Culpa vitae perferendis odio, eius quas enim dicta nisi ducimus. Dolorum id placeat, aliquam molestias eos suscipit similique odio? Nostrum cum voluptatem sapiente suscipit recusandae repudiandae nam inventore vel doloribus, magni reiciendis. Nam aperiam esse aspernatur, eveniet architecto ex. Quod soluta saepe, repellendus illum molestias eaque cumque, hic dolore possimus ipsum blanditiis dolor vitae sit consequatur. Dolore dicta cumque animi dolor cum veritatis nihil, repellendus eligendi non magni impedit provident quo quae commodi maxime odio explicabo aliquid? Consequatur, praesentium.</p>
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">Signin</a>
            <a class="btn btn-dark" href="/signup/">Signup</a>
        </div>
    </section>
</div>

{% endblock %}
